<div id="content">
  <div id="page">

    <article id="post-171" class="post-171 page type-page status-publish hentry">
      <header class="entry-header">
        <h2 class="entry-title"><a rel="archive" href="http://www.witrabbitreads.com/?page_id=171">Meet Our Friends</a></h2>
      </header>
      <div class="entry-content">
        <p>In this space, we’ll showcase the local artists, writers, and musicians we’d like you to meet. We might be introducing a cool project or worthy fundraiser; maybe there’s an event we think will be fun; we might also want to introduce any new kids in town. &nbsp;Whatever the specifics, here is where you’ll find talented, down-to-earth people doing wonderful and worthy things…we don’t have to be too cool for sap: we know we’re all in this together.</p>
        <p>So please, let us introduce…</p>
        <p><a href="http://www.acmusic.org/node/314"><strong>Access Contemporary Music:</strong></a></p>
        <p><em>A wonderful organization that advocates for Chicago’s living composers (including the high school set). You can read about their mission&nbsp;<a href="http://www.acmusic.org/node/314">here</a>. We’re pretty big fans of their work in keeping necessary art alive.</em></p>
        <p>*If you’d like to check them out, we suggest attending their&nbsp;<a href="http://www.emptybottle.com/show/4804425/">show</a>&nbsp;at the Empty Bottle on August 11.</p>
        <p><strong><a href="http://anneelizabethmoore.com">Anne Elizabeth Moore</a>:</strong></p>
        <p><em>Not only do we have it on good authority that she is an extraordinarily nice person (and a bit brilliant), she also spends much of her creative resources eliciting and empowering voices that might not otherwise be heard. She runs the <a href="http://adventureschoolforladies.com/">Adventure School For Ladies</a>: “An experimental graduate program that explores gender, cultural production, political engagement, and social divisions with top ladylike scholars in the field of adventure studies.” She also writes a column for Truthout called <a href="http://truth-out.org/index.php?option=com_k2&amp;view=item&amp;id=2467:ladydrawers">Ladydrawers</a>.&nbsp;</em><em>Community-building, art, criticism-without-pedantry, and never forgetting how to have fun? Yes, please.&nbsp;</em></p>
        <p>*If you’d like to support the work of Ladydrawers and The Adventure School, you can do so right <a href="http://www.indiegogo.com/ladydrawers?c=home">here</a>! Bonus fantastically-adorable cartoon included.</p>
        </div>
        </div>

        </div>