<div id="content">
  <div id="page">
<ul class="xoxo blogroll">
  <li><a href="http://anotherchicagomagazine.net/">Another Chicago Magazine</a></li>
  <li><a href="http://hotelamerika.net">Hotel Amerika</a></li>
  <li><a href="http://indianareview.org/">Indiana Review</a></li>
  <li><a href="http://milkmag.org/">Milk Magazine</a></li>
  <li><a href="http://www.dzancbooks.org/storage/OVBooks/OVfront.html">Other Voices Books</a></li>
  <li><a href="http://www.pankmagazine.com">Pank Magazine</a></li>
  <li><a href="http://requitedjournal.com/">Requited Journal</a></li>
  <li><a href="http://www.smokelong.com">Smokelong Quarterly Journal</a></li>
  <li><a href="http://triquarterly.org/">Triquarterly</a></li>

</ul>
      </div>
</div>