<!DOCTYPE html>
<html>
<head>
  <title>Wit Rabbit Reading Series</title>
  <%= stylesheet_link_tag    'jquery-ui-1.10.3.custom.css', 'application', :media => "all" %>
  <%= javascript_include_tag 'application', 'masonry.pkgd.min' %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
